<?xml version='1.0' encoding='utf-8'?>
<!--
	Hibernate configuration file,
	here is were we set up hibernate db collection and mapping between
	classes and database tables.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
      
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/erp</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
         
        <!-- JDBC connection pool  -->
        <property name="connection.pool_size">1</property>
         
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
         
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
         
        <property name="hbm2ddl.auto">validate</property>
  
  		<!-- Here comes the mapping using annotations in a java class -->
       <!--  mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Customer" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Car" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Insurance" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Product" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.ProductType" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.User" />
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Role" / -->
        <mapping class="info.pello.maven.hibernate.HibernateAnnotationsSamples.Department" />
         

    </session-factory>

</hibernate-configuration>