html,body {
	font-family: verdana, arial, sans;
	font-size: 10pt;
	background-color: lightGray;
}

#container { 
	width: 800px;
	margin: 0 auto 0 auto;
	background-color: white;
}

#header {
	height: 226px;
	background-image: url('./images/user-roles800.png');
}

#content {
	
}

#footer {
	text-align: center;
	font-size: 8pt;
}